<div class="raekke">
  <img src="src/img/svg/Vector.svg" alt="" />
  <img src="src/img/svg/Vector-1.svg" alt="" />
  <img src="src/img/svg/Vector-2.svg" alt="" />
  <img src="src/img/svg/Vector-3.svg" alt="" />
  <img src="src/img/svg/Vector-4.svg" alt="" />
  <img src="src/img/svg/Vector-5.svg" alt="" />
  <img src="src/img/svg/Vector-6.svg" alt="" />
  <img src="src/img/svg/Vector-7.svg" alt="" />
  <img src="src/img/svg/Vector-8.svg" alt="" />
  <img src="src/img/svg/Vector-9.svg" alt="" />
  <img src="src/img/svg/Vector-10.svg" alt="" />
  <img src="src/img/svg/Vector-11.svg" alt="" />
  <img src="src/img/svg/Vector-12.svg" alt="" />
  <img src="src/img/svg/Vector-13.svg" alt="" />
</div>

<style>
  .raekke img {
    width: cover;
  }
  .raekke {
    display: flex;

    gap: 4.5rem;
    justify-content: center;
    margin-bottom: 1rem;
    margin-top: 5rem;
    width: 100%;
  }
  @media (max-width: 428px) {
    .raekke {
      width: 10%;
    }
  }
</style>
