<div class="content">
  <img src="/src/img/sardin.png" alt="Image 1" />
  <img src="/src/img/sardin.png" alt="Image 2" />
  <img src="/src/img/sardin.png" alt="Image 3" />
  <img src="/src/img/sardin.png" alt="Image 3" />
  <img src="/src/img/sardin.png" alt="Image 3" />
  <img src="/src/img/sardin.png" alt="Image 3" />
  <img src="/src/img/sardin.png" alt="Image 3" />
  <!-- Add more content here -->
</div>

<style>
  .content {
    width: 100%;
    max-width: 1200px;
    height: 300px;
    overflow-x: scroll;
    display: flex;
    gap: 1rem;
    scroll-snap-type: x mandatory;
  }
  img {
    scroll-snap-align: center;
  }
</style>
