<div class="container">
  <div class="content">
    <img src="/src/img/taste1.png" alt="Image 1" />
    <img src="/src/img/taste1.png" alt="Image 2" />
    <img src="/src/img/taste1.png" alt="Image 3" />
    <img src="/src/img/taste1.png" alt="Image 3" />
    <img src="/src/img/taste1.png" alt="Image 3" />
    <img src="/src/img/taste1.png" alt="Image 3" />
    <img src="/src/img/taste1.png" alt="Image 3" />
    <!-- Add more content here -->
  </div>
</div>
<style>
  .container {
    width: 100%;
    height: ;
    overflow-x: scroll;
    white-space: nowrap;
    margin-top: 5rem;
  }

  .content {
    display: inline-block;
    max-height: 1rem;
  }
</style>
