
  <div class="track">
    <img class="slide" src="src/img/taste1.png" alt="" />
    <img class="slide" src="src/img/taste1.png" alt="" />
    <img class="slide" src="src/img/taste1.png" alt="" />
    <img class="slide" src="src/img/taste1.png" alt="" />
    <img class="slide" src="src/img/taste1.png" alt="" />
    <img class="slide" src="src/img/taste1.png" alt="" />
    <img class="slide" src="src/img/taste1.png" alt="" />
  </div>
<style>

.track {
    display: flex;

    gap: 1rem;
    overflow-x: hidden;
  }
  img{
    animation: scroll 20s linear infinite;

  }
  @keyframes scroll {
    100% {
      transform: translateX(-60rem);
    }
  }
</style>
<script>

</script>
