<div class="slider">
  <div class="track">
    <img class="slide" src="src/img/taste1.png" alt="" />
    <img class="slide" src="src/img/taste1.png" alt="" />
    <img class="slide" src="src/img/taste1.png" alt="" />
    <img class="slide" src="src/img/taste1.png" alt="" />
    <img class="slide" src="src/img/taste1.png" alt="" />
    <img class="slide" src="src/img/taste1.png" alt="" />
    <img class="slide" src="src/img/taste1.png" alt="" />
  </div>
</div>
<style>
  .slider {
    display: flex;
    height: auto;
    margin: auto;
  }

  .slider .track {
    display: flex;

    -webkit-animation: scroll 20s linear infinite;
    gap: 1rem;
  }

  .slider .slide {
    width: 100%;
    height: auto;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(calc(-60rem));
    }
  }
</style>
