<div>
  <a href="">DELI GOODS</a>
  <a href="">TASTING EVENTS</a>
  <a href="">ABOUT US</a>
</div>
<style>
  div {
    display: flex;
    justify-content: space-around;
    gap: 10rem;
    margin-top: 5rem;
    margin-bottom: 13rem;
  }
  a {
    text-decoration: none;
    border-width: 3px;
    border-style: solid;
    border-color: var(--bright_red);
    padding-inline: 2rem;
    padding-block: 1rem;
    color: var(--bright_red);
    width: 20rem;
    text-align: center;
    font-family: "aviano-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  @media (max-width: 1084px) {
    div {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      place-items: center;
      margin-bottom: 5rem;
      ma
    }
  }
</style>
