:root {
  --medium_blue: #2779f8;
  --dark_blue: #1a2c38;
  --mustard: #c9971b;
  --slime_green: #08a86b;
  --bright_red: #fa5647;
  --pale_pink: #f4a9c6;
  --blueish_grey: #b8d5cb;
  --pale_violet: #a89ef8;
  --light_beige: #fffef2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
}
h1 {
  font-family: "aviano-sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  color: var(--bright_red);
  text-align: center;
}
