---
import TestimonialForm from "../components/testimonial_form.astro";
import TestimonialDisplay from "../components/testimonial_display.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/mku2eml.css" />
    <title>Astro</title>
  </head>
  <body>
    <h1>Omada Wine & Deli</h1>
    <TestimonialDisplay />
    <TestimonialForm />
  </body>
</html>
