---
import Cirkler from "../components/Cirkler.astro";
import Undernav from "../components/Undernav.astro";
import Slider from "../components/Slider.astro";
import Deligoods from "../components/Deligoods.astro";
import Menu from "../components/menu.astro";
import Circles from "../components/circles.astro";
import OpenTimesSection from "../components/openTimesSection.astro";
import Linje from "../components/linje.astro";
import NewsAndEventsSection from "../components/newsAndEventsSection.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/mku2eml.css" />
    <link rel="stylesheet" href="/public/style.css" />
    <title>Omada Wine & Deli</title>
  </head>
  <body>
    <header>
      <Menu />
      <h1>Omada Wine & Deli</h1>
      <Circles />
      <Undernav />
      <OpenTimesSection />
      <Linje />
    </header>
    <main>
      <NewsAndEventsSection />
      <Cirkler />
      <div id="Produkter">
        <h2 class="Deli">DELI GOODS</h2>
        <h3>THIRSTY? PECKISH? CURIOUS? WE'VE GOT YOU COVERED!</h3>
        <p>Omada Wine & Deli feeds your simple needs for life's better necessities; wine & food.</p>
        <a href="">GO TO WEBSHOP</a>
      </div>
      <Deligoods />
      <Cirkler />
    </main>
    <Slider />
  </body>
</html>

<style>
  p {
    font-family: "raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }

  h1 {
    color: black;
    font-size: 7vw;
    padding: 5rem;
  }
  main h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    font-family: "aviano-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  main a {
    text-decoration: none;
    border-width: 3px;
    border-style: solid;
    border-color: var(--bright_red);
    padding-block: 1rem;
    padding-inline: 2rem;
    color: var(--bright_red);
    width: 9rem;
    text-align: center;
    display: block;
    font-family: "aviano-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  main a:hover {
    color: #526baf;
    border-color: #526baf;
  }

  .Deli {
    color: var(--mustard);
    font-size: 7vw;
    font-weight: 700;
    padding-block: 3vw;
  }
  h3 {
    color: var(--bright_red);
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: "aviano-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  #Produkter {
    text-align: center;
  }
  #Produkter a {
    margin-left: auto;
    margin-right: auto;
    color: red;
    width: fit-content;
  }
  #Produkter p {
    margin-bottom: 4rem;
  }
  img {
    width: 100%;
  }
</style>
