---
import Cirkler from "../Komponenter/Cirkler.astro";
import Undernav from "../Komponenter/Undernav.astro";
import Slider from "../Komponenter/Slider.astro";
import Deligoods from "../Komponenter/Deligoods.astro";
import News from "../Komponenter/News.astro";
import Menu from "../components/menu.astro"
import Circles from "../components/circles.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://use.typekit.net/mku2eml.css" />
    <link rel="stylesheet" href="/public/style.css" />
    <title>Omada Wine & Deli</title>
  </head>
  <body>
    <header>
<Menu/>
      <h1>Omada Wine & Deli</h1>
      <Circles />
      <Undernav />

      <div id="forside">
        <div class="container">
          <img src="src/img/baggrund.png" alt="" />
          <div class="circle">
            <div class="circleText">
              <p>Wednesday</p>
              <p>11-20</p>
              <p>Thursday</p>
              <p>11-20</p>
              <p>Friday</p>
              <p>11-20</p>
              <p>saturday</p>
              <p>11-20</p>
              <p>sunday</p>
              <p>11-20</p>
            </div>
          </div>
        </div>
        <div class="linje"></div>
      </div>
    </header>
    <main>
      <div class="grid_3-1">
        <div>
          <h2>NEWS & EVENTS</h2>
          <p>
            The name Omada comes from the Greek word for "team" or "group", reflecting the sense of community and camaraderie that we strive to create here. Our wine tastings, cultural events, and social gatherings are designed to bring people
            together and foster connections over shared interests.
          </p>
          <p>
            Join in on one of our open wine tastings and sample the curated selection of natural wines in omada.wine’s monthly subscription box. Or come by for a plate of food and a glass of wine whenever one of our friends from the industry is
            cooking a “plat du jour”. And whenever we have a winemaker in town, Omada Wine & Deli is the place to be! Follow our events here on our website, instagram & facebook!
          </p>
          <a href="">Events</a>
          <News />
        </div>
        <img src="src/img/kort.webp" alt="kort" />
      </div>
      <Cirkler />
      <div class="center">
        <h2 class="Deli">DELI GOODS</h2>
        <h3>THIRSTY? PECKISH? CURIOUS? WE'VE GOT YOU COVERED!</h3>
        <p>Omada Wine & Deli feeds your simple needs for life's better necessities; wine & food.</p>
        <a href="">GO TO WEBSHOP</a>
      </div>
      <Deligoods />
      <Cirkler />
    </main>
    <Slider />
  </body>
</html>

<style>
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .container {
    position: relative;
  }
  .circle {
    width: 27vw;
    height: 27vw;
    outline: 1vw solid red;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
  }

  .circleText {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 2rem;
    font-size: 24px;
    font-weight: bold;
    top: 8rem;
    left: 2.2rem;
  }
  .circleText p {
    font-family: "aviano-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #526baf;
    font-size: 2vw;
  }

  p {
    font-family: "raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }

  .container img {
    width: 100%;
    height: auto;
  }
  .linje {
    margin-top: 5rem;
    border: 0.1rem solid red;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2rem;
  }
  h1 {
    color: black;

    font-size: 7vw;
    padding: 5rem;
  }
  main h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 2rem;
    font-family: "aviano-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  main p {
    margin-bottom: 2rem;
  }
  .grid_3-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
  }
  .grid_3-1 div {
    margin-left: 10%;
  }

  main a {
    text-decoration: none;
    border-width: 3px;
    border-style: solid;
    border-color: var(--bright_red);
    padding-block: 1rem;
    padding-inline: 2rem;
    color: var(--bright_red);
    width: 9rem;
    text-align: center;
    display: block;
    font-family: "aviano-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  main a:hover {
    color: #526baf;
    border-color: #526baf;
  }

  .Deli {
    color: var(--mustard);
    font-size: 7vw;
    font-weight: 700;
    padding-block: 3vw;
  }
  h3 {
    color: var(--bright_red);
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-family: "aviano-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .center {
    text-align: center;
  }
  .center a {
    margin-left: auto;
    margin-right: auto;
    color: red;
    width: fit-content;
  }
  .center p {
    margin-bottom: 4rem;
  }
  img {
    width: 100%;
  }

  @media (max-width: 900px) {
    .grid_3-1 {
      display: grid;
      grid-template-columns: 1fr;
      gap: rem;
    }
  }
  @media (max-width: 900px) {
    .circle {
      border-radius: 50%;
      background-color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .circleText {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 1 rem;

      font-weight: bold;

      top: 2rem;
      left: 0.6rem;
    }
  }
</style>
