---
import Menu from "../components/menu.astro";
import Tastingeventsheader from "../components/tastingeventsheader.astro";
import Eventscontent from "../components/eventscontent.astro";
import Circles from "../components/circles.astro";
import Undernav from "../components/Undernav.astro";
import Wines from "../components/wines.astro";
import BarLinje from "../components/bar_linje.astro";
---

<html lang="da">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="robots" content="noindex" />
    <link rel="stylesheet" href="https://use.typekit.net/qti3pmw.css" />
    <link rel="stylesheet" href="https://use.typekit.net/qti3pmw.css" />
    <link rel="stylesheet" href="/public/style.css" />
  </head>

  <body>
    <header>
      <Menu />
      <Tastingeventsheader />
      <Circles />
      <Undernav />
    </header>
    <main>
      <Eventscontent />
    </main>
  </body>
  <footer>
    <Wines />
    <BarLinje />
  </footer>
</html>
