---
---

<div>
<a href="#opentimes">  <svg fill="#000000" height="200px" width="200px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 490 490" xml:space="preserve" transform="matrix(1, 0, 0, 1, 0, 0)rotate(90)"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M15.541,490V0l458.917,245.009L15.541,490z"></path> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> <g> </g> </g> </g></svg></a>
</div>

<style>
  div {
    --button_size: 5rem;
    height: var(--button_size);
    width: var(--button_size);
    background-color: var(--medium_blue);
    border-radius: 50%;
    margin: auto;
    margin-block: 2rem;
    display: grid;
    place-items: center;
    animation: jump 0.6s ease-in-out 10s 3 forwards;
  }
  a {
    display: grid;
    place-items: center;
    width: 100%;
    aspect-ratio: 1;
  }
svg{
  fill: var(--light_beige);
  width: calc(var(--button_size) - 2.5rem);
  height: calc(var(--button_size) - 3rem);

}
  @keyframes jump {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0px);
    }
  }
</style>
