<div>
  <img src="/img/svg/Vector-1.svg" alt="" />
  <img src="/img/svg/Vector-2.svg" alt="" />
  <img src="/img/svg/Vector-3.svg" alt="" />
  <img src="/img/svg/Vector-4.svg" alt="" />
  <img src="/img/svg/Vector-5.svg" alt="" />
  <img src="/img/svg/Vector-6.svg" alt="" />
  <img src="/img/svg/Vector-7.svg" alt="" />
  <img src="/img/svg/Vector-8.svg" alt="" />
  <img src="/img/svg/Vector-9.svg" alt="" />
  <img src="/img/svg/Vector-10.svg" alt="" />
  <img src="/img/svg/Vector-11.svg" alt="" />
  <img src="/img/svg/Vector-12.svg" alt="" />
  <img src="/img/svg/Vector-13.svg" alt="" />
  <img src="/img/svg/Vector-14.svg" alt="" />
</div>

<style>
  img {
    width: cover;
  }
  div {
    display: flex;
    gap: 4.5rem;
    justify-content: center;
    padding: 2rem;
    width: 100%;
    overflow-x: hidden;
  }
</style>
