---
---
<head>
  <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
<h2>public tastings</h2>
<div class="box">
  <h3>open wine tasting</h3>
  <div class="line"></div>
  <div class="text">
    <p>Once a month you’re invited to join our open wine tasting and sample the curated selection of natural wines in omada wine’s monthly subscription box.</p>
    <span>DKK 145,- per person</span>
    <p>including 6 tasting glasses.</p>
    <p>Check out this page, subscribe to our newsletter or social media for upcoming dates.</p>
  </div>
  <lottie-player src="https://lottie.host/c382e14f-0221-4275-a0d9-a5f329be4b21/KuNeOrbK0z.json"  background="transparent"  speed="1"  style="width: 300px; height: 59px;"    autoplay></lottie-player>
<!-- <img class="animation" src="src/img/microani_omada.png" alt="background"> -->
</div>
<h2>private tastings</h2>
<div class="box">
  <div class="text">
    <p>We also do custom tailored private tastings and functions to fit your exact needs. And otherwise we offer the following plug and play solutions (minimum 4 people and up to 30):</p>
    <h3>intro into mixed fermentation</h3>
    <p>A quick session on cider, fruit pét-nat and other mixed fermentations. Approximately 1 hour.</p>
    <span>DKK 199,- per person (with snacks + DKK 49,-)</span>
    <div class="line"></div>
    <h3>natural wine: 101</h3>
    <p>A general introduction to the world of natural wine, its history, values, style and taste. Approximately 1 hour.</p>
    <span> DKK 349,- per person (with snacks + DKK 75,-)</span>
    <div class="line"></div>
    <h3>natural wine: deep cuts from the cellar</h3>
    <p>A tour de force in natural wine with some of our high-end cuvées and rare vintages, curated from our cellar. Approximately 1-2 hours.</p>
    <span>DKK 499,- per person (with snacks +75,-)</span>
  </div>
  <!-- book tasting  -->
</div>
<h2>private functions</h2>
<div class="box">
  <div class="text">
    <p>
      Host your next private or business function in Omada Wine & Deli; a unique and intimate setting for special occasions and celebrations. Can’t make it to Østerbro? No problem! We also rent out our tap systems and tasting glasses for private
      functions and events. Contact us for more information.
    </p>
  </div>
</div>

<style>
  .box {
    border-color: #526baf;
    border-width: 2px;
    border-style: solid;
    max-width: 900px;
    margin: auto;
  }

  h2 {
    font-family: "aviano-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #526baf;
    text-align: center;
    font-size: 40px;
    padding: 2rem;
  }
  h3 {
    font-family: "aviano-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #526baf;
    text-align: center;
    padding: 2rem;
    font-size: 30px;
  }

  p {
    font-family: "raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
  }

  .text {
    margin: 5em;
  }
  span {
    font-family: "raleway", sans-serif;
    font-weight: 600;
    line-height: 2;
    font-size: 20px;
  }

  .line {
    height: 1px;
    background: #526baf;
    margin: 2rem;
  }

  @media (max-width: 1000px) {
    .box {
      max-width: fit-content;
      margin-left: 5rem;
      margin-right: 5rem;
    }
  }
  @media (max-width: 600px) {
    .box {
      margin-left: 2rem;
      margin-right: 2rem;
    }
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 15px;
    }
    .text {
      margin: 1em;
    }
    span {
      font-size: 15px;
    }
  }

  lottie-player {
    display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  margin-bottom: 10%;
  }

  img.animation{
    display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  margin-bottom: 10%;
  }

</style>
