---
---

<a href="index.html"><h2>Omada Wine & Deli</h2></a>

<style>
  h2 {
    --logo_height: 4.5rem;
    font-family: "aviano-sans", sans-serif;
    font-weight: 700;
    font-style: normal;
    height: calc(var(--logo_height) + var(--logo_height) / 2.5);
    display: grid;
    align-items: center;
    padding: calc(var(--logo_height) / 5);
  }
  a {
    color: var(--bright_red);
    z-index: 5;
    text-decoration: none;
    font-size: clamp(0.7rem, 4vw, 1.5rem);
  }
  @media (min-width: 1100px) {
a{
    color: var(--light_beige);
}
  }
</style>
