---
import Logo from "./logo.astro";
---

<div id="menu_container">
  <Logo />
  <div id="burger_button">
    <div class="burger_line"></div>
    <div class="burger_line"></div>
    <div class="burger_line"></div>
  </div>
  <nav>
    <a href="tasting_events.html">Events & Tastings</a>
    <a href="about_us.html">About Us</a>
  </nav>
</div>

<style>
  nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10;
    background-color: var(--bright_red);
    display: grid;
    place-items: center;
    padding-block: 5rem;
    transform: translateY(-100%);
    transition: all 0.2s ease-in-out;
  }
  a {
    color: var(--light_beige);
    text-decoration: none;
    font-family: "aviano-sans", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
  }
  .menu_active {
    transform: translateY(0%);
  }
  #burger_button {
    --burger_button_size: 4.5rem;
    width: var(--burger_button_size);
    height: var(--burger_button_size);
    background-color: var(--bright_red);
    border-radius: 50%;
    position: fixed;
    top: calc(var(--burger_button_size) / 5);
    right: calc(var(--burger_button_size) / 5);
    padding-block: calc(var(--burger_button_size) / 5.5);
    display: grid;
    place-items: center;
    z-index: 100;
  }
  #menu_container {
    --menu_height: 4.5rem;
    background-color: var(--light_beige);
    height: calc(var(--menu_height) + var(--menu_height) / 2.5);
  }
  .burger_line {
    height: calc(var(--burger_button_size) / 10);
    width: calc(var(--burger_button_size) * 0.6);
    background-color: var(--light_beige);
    border-radius: calc(var(--burger_button_size) / 5);
    transition: all 0.2s ease-in-out;
    transform-origin: right center;
  }
  .rotate {
    transform: rotateZ(45deg);
  }
  .fade {
    filter: opacity(0%);
  }
  .rotate_reverse {
    transform: rotateZ(-45deg);
  }
  @media (min-width: 1100px) {
    #menu_container {
      display: flex;
background-color: var(--bright_red);
    }
    #burger_button {
      display: none;
    }
    nav {
      transform: translateX(0%);
      position: static;
      display: flex;
      width: 20%;
      justify-content: space-around;
      gap: 2rem;
      background-color: unset;
      padding-block: unset;
      margin-left: auto;
      margin-right: 1.25rem;
    }
    a {
      color: var(--light_beige);
      font-size: clamp(0.7rem, 1.15vw, 1rem);
      border: 3px solid var(--light_beige);
      padding: 0.75rem;
      transition: all 0.2s ease-in-out;
      background-color: var(--bright_red);
    }
    a:hover {
      transform: scale(1.1);
      background-color: var(--light_beige);
      color: var(--bright_red);
    }
  }
</style>
<script>
  const burgerButton = document.querySelector("#burger_button");
  const navMenu = document.querySelector("nav");

  burgerButton.addEventListener("mousedown", showMenu);

  function showMenu() {
    navMenu.classList.toggle("menu_active");
    burgerButton.children[0].classList.toggle("rotate_reverse");
    burgerButton.children[1].classList.toggle("fade");
    burgerButton.children[2].classList.toggle("rotate");
  }
</script>
