---
---

<div class="container">
  <div class="circle">
    <div class="circleText">
      <p>Wednesday <span>11-20</span></p>

      <p>Thursday <span>11-20</span></p>
      <p>Friday <span>11-20</span></p>
      <p>saturday <span>11-20</span></p>
      <p>sunday <span>11-20</span></p>
    </div>
  </div>
</div>
<style>
  .container {
    --container_size: 10vw;
    display: grid;
    place-items: center;
    background-image: url("../img/baggrund.png");
    background-size: cover;
    padding-block: var(--container_size);
  }
  .circle {
    width: clamp(200px, calc(var(--container_size) * 2.5), 500px);
    max-width: ;
    height: clamp(200px, calc(var(--container_size) * 2.5), 500px);
    outline: 1vw solid var(--bright_red);
    border-radius: 50%;
    background-color: var(--light_beige);

    display: grid;
    place-items: center;
  }

  .circleText {
    display: grid;
    column-gap: 2rem;
    font-size: 24px;

  }
  .circleText p {
    display: flex;
    gap: 1rem;
    font-family: "aviano-sans", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: var(--medium_blue);
    font-size: clamp(1rem, 2vw, 3rem);
  }
  span {
    margin-left: auto;
  }
</style>
