<div class="track">
  <img class="slide1" src="/img/barr.webp" alt="" />
  <img class="slide2" src="/img/bistro.webp" alt="" />
  <img class="slide3" src="/img/gaard.webp" alt="" />
  <img class="slide4" src="/img/kobyen.webp" alt="" />
  <img class="slide6" src="/img/lago.webp" alt="" />
  <img class="slide7" src="/img/popl.webp" alt="" />
  <img class="slide8" src="/img/omegn.webp" alt="" />
  <img class="slide9" src="/img/bardok.webp" alt="" />
  <img class="slide11" src="/img/taarn.webp" alt="" />
  <img class="slide11" src="/img/baest.webp" alt="" />
</div>
<style>
  .track {
    display: flex;
    align-items: center;
    gap: 1rem;
    overflow-x: hidden;
    position: relative;
    padding-block:1rem ;
    height: calc(20vw + 2rem);
  }
  img {
    width: 10vw;
    object-fit: contain;
    position: absolute;
    right: 0;
    transform: translateX(20vw);
    animation: scroll 10s linear infinite;
  }
  @keyframes scroll {
    100% {
      transform: translateX(-200vw);
    }
  }
</style>

<script>
  const track = document.querySelector(".track");
  console.log(track.children);
  for (let step = 0; step < track.children.length; step++) {
    let billede = track.children[step];
    billede.style.animationDelay = step*1 + "s";
  }
</script>
