---
---

<div class="icon_cont">
  <div class="wine1_container"><div class="wine1_sprite"></div></div>
  <div class="wine2_container"><div class="wine2_sprite"></div></div>
  <div class="wine3_container"><div class="wine3_sprite"></div></div>
  <div class="wine4_container"><div class="wine4_sprite"></div></div>
  <div class="wine5_container"><div class="wine5_sprite"></div></div>
  <div class="wine6_container"><div class="wine6_sprite"></div></div>
  <div class="wine7_container"><div class="wine7_sprite"></div></div>
</div>

<style>
  .wine1_container {
    width: 5%;
    aspect-ratio: 145/455;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }
  .wine1_sprite {
    background-image: url("src/img/svg/wine1.svg");
    width: 100%;
    height: 100%;
    background-size: 100%;
  }

  .wine2_container {
    width: 5%;
    aspect-ratio: 145/455;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }
  .wine2_sprite {
    background-image: url("src/img/svg/wine2.svg");
    width: 100%;
    height: 100%;
    background-size: 100%;
  }
  .wine3_container {
    width: 5%;
    aspect-ratio: 145/455;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }
  .wine3_sprite {
    background-image: url("src/img/svg/wine3.svg");
    width: 100%;
    height: 100%;
    background-size: 100%;
  }

  .wine4_container {
    width: 5%;
    aspect-ratio: 145/455;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }
  .wine4_sprite {
    background-image: url("src/img/svg/wine4.svg");
    width: 100%;
    height: 100%;
    background-size: 100%;
  }

  .wine5_container {
    width: 5%;
    aspect-ratio: 145/455;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }
  .wine5_sprite {
    background-image: url("src/img/svg/wine5.svg");
    width: 100%;
    height: 100%;
    background-size: 100%;
  }
  .wine6_container {
    width: 5%;
    aspect-ratio: 145/455;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }
  .wine6_sprite {
    background-image: url("src/img/svg/wine6.svg");
    width: 100%;
    height: 100%;
    background-size: 100%;
  }
  .wine7_container {
    width: 5%;
    aspect-ratio: 145/455;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
  }
  .wine7_sprite {
    background-image: url("src/img/svg/wine7.svg");
    width: 100%;
    height: 100%;
    background-size: 100%;
  }

  .icon_cont {
    display: flex;
    flex-direction: row;
  }
</style>
